body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 7%;
}
.half-width{
    width: 50%;
    padding-left: 7%;
}
.half-width img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 25px;
    border-radius: 15px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight:700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.top-banner .half-width #pad{
    padding-right: 25%;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width #padding{
    padding-right: 45%;
}
.third-flex{
    display: flex;
}
.experience-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 5%;
    padding-left: 3%;
    border-radius: 10px;
    border-left: 5px solid tomato;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}